.main {
  width: 70%;
  padding-left: 2rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.main p {
  font-weight: bold;
}
.main span {
  font-weight: normal;
}

.stopTitle {
  text-align: center;
  font-size: 1.5rem;
}

.left {
  padding: 0 1rem;
  width: 50%;
  @media (max-width: 676px) {
    width: 100%;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
  width: 50%;
  @media (max-width: 676px) {
    width: 100%;
  }
}

.signerList ul {
  list-style-type: none;
}

.stopData {
  display: flex;
  margin-right: 2rem;
  @media (max-width: 676px) {
    flex-direction: column;
  }
}

.linkArea {
  text-align: center;
}

.updateLink,
.addSignerBtn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: white;
  overflow: hidden;
  background-color: #767676;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid #767676;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.addSignerText {
  padding: 0.5rem;
  margin-right: 0.5rem;
}
