.container {
  padding: 0 2rem;
}

.form {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container h1 {
  text-align: center;
  color: red;
  margin-top: 4rem;
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
}

.form input {
  width: 20rem;
  margin: 0.5rem 0;
  padding: 1rem 0;
  text-align: center;
  border-radius: 5px;
  border: solid 1px #c0c6c8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.form input[type="submit"] {
  width: 5rem;
  background: #767676;
  color: white;
  border: solid 1px #767676;
  cursor: pointer;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
