.container {
  padding: 0 2rem;
}

.form {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container h1 {
  text-align: center;
  color: red;
  margin-top: 4rem;
}

.container h3 {
  text-align: center;
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="password"] {
  width: 40rem;
  margin: 0.5rem 0;
  padding: 1.5rem 0.5rem;
  text-align: center;
  border-radius: 8px;
  border: solid 1px #c0c6c8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  font-family: unset;
}

.form input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: white;
  overflow: hidden;
  background-color: #767676;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: 1px solid #767676;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.links a {
  text-decoration: none;
  color: blue;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
