.registerTitle {
  text-align: center;
  color: red;
  margin-top: 4rem;
}

.container h3 {
  text-align: center;
}

.error {
  text-align: center;
}

.registerForm {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.registerForm input[type="text"],
.registerForm input[type="password"] {
  width: 40rem;
  margin: 0.5rem 0;
  padding: 1.5rem 0.5rem;
  text-align: center;
  border-radius: 8px;
  border: solid 1px #c0c6c8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  font-family: unset;
}

.registerForm input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: white;
  overflow: hidden;
  background-color: #767676;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: 1px solid #767676;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.links a {
  text-decoration: none;
  color: blue;
}
